
<%- include('partials/header.ejs') %>
    <div class="card">
        <figure class="gsmImg">
            <img src="../images/illustration-thank-you.svg" alt="gsm" />
        </figure>
        <p class="result">You selected x out of 5</p>
        <h1 class="title title__submit">Thank you!</h1>
        <p class="containt containt__submit">
            We appreciate you rating the time to give a rating. If you ever
            need more support, don't hesitate to get in touch!
        </p>
 
<%- include('partials/footer.ejs') %>