.container {
    background-color: #141519;
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

.card {
    background-color: #212832;
    width: 25em;
    height: 20em;
    display: flex;
    flex-direction: column;
    border-radius: 15px; 
    padding: 2em 2em;
}

.star {
    background-color: #262f38;
    padding: 0.9em;
    border-radius: 50%;
}

.title {
    color: white;
    margin-top: 0.6em;
    font-size: 1.5em;
}

.title__submit, .result, .gsmImg, .containt__submit{
    text-align: center;
}

.containt {
    color: #4a515b;
    margin-top: 0.9em;
    font-size: 1em;
}

.rating {
    display: flex;
    justify-content: space-between;
    /* padding: 0; */
}

.button {
    background-color: #262f38;
    color: #4a515b;
    border: #4a515b;
    margin-top: 0.9em;
    font-size: 0.8em;
    padding: 0.9em;
    border-radius: 50%;
    width: 3.5em;
    height: 3.6em;  
}

.button:hover{
    background-color: #f97813;
    color: white;
}

.buttonSubmit {
    background-color: #f97813;
    border: #f97813;
    color: white;
    margin-top: 1.5em;
    height: 2.5em;
    border-radius: 15px;
    text-transform: uppercase;
}

.buttonSubmit:hover{
    background-color: white;
    color:#f97813
}

.result{
    margin-top: 1em;
    color: #f97813;
    background-color: #262f38;
    padding: 0.65em;
    border-radius: 15px;
  
}


input[type="radio"]#button1, input[type="radio"]#button2, input[type="radio"]#button3, input[type="radio"]#button4, input[type="radio"]#button5{
    display: none;
  }

input[type="radio"]#button1 + label, input[type="radio"]#button2 + label, input[type="radio"]#button3 + label, input[type="radio"]#button4 + label, input[type="radio"]#button5 + label  {
    background-color: #262f38;
    color: #4a515b;
    border: #4a515b;
    margin-top: 0.9em;
    font-size: 0.8em;
    padding: 0.9em;
    border-radius: 50%;
    width: 3.5em;
    height: 3.6em;  
}

input[type="radio"]#button1:hover + label, input[type="radio"]#button2:hover + label, input[type="radio"]#button3:hover + label, input[type="radio"]#button4:hover + label, input[type="radio"]#button5:hover + label  {
    background-color: #f97813;
    color: white;
}

input[type="radio"]#button1:checked+ label, input[type="radio"]#button2:checked+ label, input[type="radio"]#button3:checked + label, input[type="radio"]#button4:checked+ label, input[type="radio"]#button5:checked+ label  {
    background-color: #f97813;
    color: white;
}